* {
  margin: 0;
  padding: 0;
}


/* try nav code  */
  
#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #EBFAFF;
  grid-gap: 1.5em;
  padding: 0 40px;
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.logo {
  cursor: pointer;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Nunito Sans", Sans-serif;
}

#links a {
  text-decoration: none;
  color: black;
  font-family: "Nunito Sans", Sans-serif;
}

#links a:hover {
  color: #007EF3;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#EBFAFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(75, 75, 75);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #007EF3;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: "Open Sans", sans-serif;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    align-items: center;
  }
}


/* Tablet to Desktop */
@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

@media (max-width: 854px){
  #navbar{
      padding: 0px 10px;
      width: 100%;
      grid-gap: 20px;
  }
  #links{
      grid-gap: 0px;
      align-items: baseline;;
  }
  #links a{
      padding: 1em 1em 1em 1em;
      font-size: 10px;
  }
  #logo img{
      width:120px;
      height: 30px;
  }
  .button button{
      border-radius: 13px;
      padding: 5px 8px;
      font-size: 11px;
      margin-left: 2px;
  }
}

@media screen and (min-width:855px) and (max-width: 990px){
  #navbar{
      padding: 0px 10px;
      width: 100%;
      /* grid-gap: 20px; */
  }
  .reverse img{
      width: 7rem;
      height: 2rem;
  }
  #links{
      grid-gap: 1rem;
      align-items: center;;
  }
  #links a{
      font-size: 0.8rem;
  }
  .button button{
      padding: 0.2rem 0.7rem;
      font-size: 11px;
      margin-left: 0px;
  }
  #playstore-img{
      width: 3.2rem;
      height: 2.8rem;
  }
}


@media screen and (min-width:991px) and (max-width: 1200px){
  #navbar{
      padding: 10px 20px;
  }
  .reverse img{
      width: 7rem;
      height: 2.3rem;
  }
  #links{
      grid-gap: 1.5rem;
      align-items: center;
  }
  #links a{
      font-size: 0.8rem;
  }
  .button button{
      padding: 0.2rem 1.2rem;
      margin-left: 0rem;
  }
  #playstore-img{
      width: 3.7rem;
      height: 3rem;
  }
}

/* for 4k view */
@media screen and (min-width:1200px) and (max-width: 1800px){
  #navbar{
      padding: 20px 30px;
  }
  .reverse img{
      width: 10rem;
      height: 3rem;
  }
  #links{
      grid-gap: 1.5rem;
      align-items: center;
  }
  #links a{
      font-size: 1rem;
  }
  .button button{
      padding: 0.4rem 1.5rem;
      margin-left: 0rem;
  }
}
@media screen and (min-width:1801px) and (max-width: 2600px){
  #navbar{
      padding: 1rem 2rem;
  }
  .reverse img{
      width: 14vw;
      height: 6vh;
  }
  #links{
      grid-gap: 2.5rem;
      align-items: center;
  }
  #links a{
      font-size: 1.5rem;
  }
  .button button{
      padding: 0.6rem 2rem;
      margin-left: 0;
  }
}


/* ------ */

/* first and third section of the become tutor page */

.become-tutor-first-section {
  margin: 5% 7% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.become-tutor-first-section .left-side {
  width: 50%;
  margin-right: 5%;
  box-sizing: border-box;
}

.become-tutor-first-section .left-side .left-main-heading {
  color: #2f327d;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-align: justify;
}

.bold-first {
  font-weight: 900;
  font-size: larger;
}

.become-tutor-first-section .left-side .left-sub-heading {
  font-size: 1.5em;
  margin: 2% 0;
  font-family: "Nunito Sans", Sans-serif;
  text-align: justify;
}

.become-tutor-first-section .left-side .left-paragraph {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Nunito Sans", Sans-serif;
  text-align: justify;
}

.register-button {
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-family: "Nunito Sans", Sans-serif;
}

.register-button:hover {
  background-color: #45b9ef;
  color: black;
}




/* Media queries for responsiveness */

@media screen and (max-width: 1200px) {
  .become-tutor-first-section {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .become-tutor-first-section .left-side .left-main-heading h1 {
    font-size: 45px;
    line-height: 50px;
  }

  .become-tutor-first-section .left-side .left-sub-heading{
    font-size: 30px;
  }

  .become-tutor-first-section .right-side img {
    margin: 0;
    width: 22rem;
    height: 62vh;
  }

}
@media screen and (max-width: 850px) {
  .become-tutor-first-section {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .become-tutor-first-section .left-side {
    margin: 0 1rem;
  }

  .become-tutor-first-section .left-side .left-main-heading {
    font-size: 1.2rem;
  }

  .become-tutor-first-section .left-side .left-sub-heading{
    font-size: 1.3rem;
  }

  .become-tutor-first-section .left-side .p{
    font-size: 1rem;
  }


}

@media screen and (max-width: 450px) {

  .become-tutor-first-section {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .become-tutor-first-section .right-side {
    order: 1;
  }

  .become-tutor-first-section .left-side {
    margin: 0;
    width: 80vw;
    order: 2;
  }

  .become-tutor-first-section .left-side .left-main-heading {
    font-size: 18px;
  }

  .become-tutor-first-section .left-side .left-sub-heading{
    font-size: 18px;
  }

  .become-tutor-first-section .right-side img {
    margin-left: 0%;
    width: 60vw;
    height: 20vh;
  }

  .register-button {
    font-size: 15px;
        padding: 5%;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
  }

  
}





/* second and fourth section of the become tutor page */

.second-section-become-tutor {
  margin: 5% 7% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section-become-tutor .left-side {
  width: 50%;
  margin-right: 10%;
  box-sizing: border-box;
}

.second-section-become-tutor .right-side h1 {
  color: #2f327d;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  text-align: justify;
}

.second-section-become-tutor .right-side p {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: "Nunito Sans", Sans-serif;
  text-align: justify;
}

.bold-second {
  font-weight: 900;
  font-size: larger;
}




/* Media queries for responsiveness */

@media screen and (max-width: 1200px) {
  .second-section-become-tutor {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .second-section-become-tutor .right-side h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .second-section-become-tutor .right-side p{
    font-size: 25px;
  }

  .second-section-become-tutor .left-side img {
    margin: 0;
    width: 22rem;
    height: 62vh;
  }

}


@media screen and (max-width: 850px) {
  .second-section-become-tutor {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .second-section-become-tutor .right-side{
    width: 80vw;
  }

  .second-section-become-tutor .right-side {
    margin: 0 1rem;
  }

  .second-section-become-tutor .right-side h1 {
    font-size: 1.2rem;
  }

  .second-section-become-tutor .right-side .p{
    font-size: 0.7rem;
  }


}

@media screen and (max-width: 450px) {

  .become-tutor-first-section {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .become-tutor-first-section .right-side {
    order: 1;
  }

  .become-tutor-first-section .left-side {
    margin: 0;
    width: 80vw;
    order: 2;
  }

  .become-tutor-first-section .left-side .left-main-heading {
    font-size: 18px;
  }

  .become-tutor-first-section .left-side .left-sub-heading{
    font-size: 18px;
  }

  .become-tutor-first-section .right-side img {
    margin-left: 0%;
    width: 60vw;
    height: 20vh;
  }

  .register-button {
    font-size: 15px;
        padding: 5%;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
  }

  
}





/* why with us section */

.why-with-us {
  position: relative;
  margin-bottom: 10%;
}

.why-with-us .heading {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2f327d;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  text-align: justify;
}

.why-with-us .background {
  background-color: #2f327d;
  height: 10%;
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3%;
  box-sizing: border-box;
}

.why-with-us .left-side-img {
  position: relative;
  z-index: 1;
  margin-top: -10%;
}

.why-with-us .left-side-img img {
  width: 100%;
}

.why-with-us .right-side-info {
  color: #fff;
  font-family: "Nunito Sans", Sans-serif;
  text-align: justify;
  font-size: 1.2em;
}

.why-with-us .right-side-info ul {
  list-style: none;
  padding: 0;
}

.why-with-us .right-side-info li {
  margin-bottom: 10px;
  position: relative;
}

.why-with-us .right-side-info li::before {
  content: "\2605"; /* Unicode character for a star */
  color: #ffd700; /* Yellow color for the star */
  font-size: 1.5em;
  position: absolute;
  left: -1.5em; /* to align it to right side and not to collide with the info */
  top: 50%; /* to make it in same line and not upwards */
  transform: translateY(-50%); /* to make it in same line and not downwards */
}



/* enroll section */

.enroll-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.enroll-container .enroll-title {
  color: #2f327d;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  text-align: justify;
}

.phases-for-enroll {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phases-for-enroll .phase {
  margin: 5% 7% 10%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.phases-for-enroll .phase:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 70%;
  left: 70%;
  right: 80%;
  width: 12em;
  border-top: 4px dotted #000;
  z-index: -1;
}

.phases-for-enroll .phase img {
  padding-bottom: 15%;
}

.phases-for-enroll .phase p {
  font-weight: bolder;
  width: max-content;
  align-items: center;
  font-family: "Nunito Sans", Sans-serif;
}

/* faq section */

.faq-heading {
  margin-top: 13%;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 50px;
}

.body-faq {
  margin: 5% 10% 10%;
  display: flex;
  justify-content: space-evenly;
}

.layout {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.faq {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.4em;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.5);
}

.question {
  display: flex;
  justify-content: space-between;
}

.question p {
  font-family: "Poppins", Sans-serif;
  font-size: 1.15em;
  font-weight: bold;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
  margin-top: 2%;
}

.answer p {
  margin: 5px;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
}

.faq:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.faq.active .answer {
  max-height: 30vh;
}

.faq.active svg {
  transition: 0.5s ease;
  transform: rotate(180deg);
}

/* media queries */

@media screen and (max-width: 860px) {
  .body-faq {
    display: flex;
    justify-content: space-evenly;
  }

  .image-container img {
    height: 30vw;
  }

  .layout {
    width: 60vw;
    /* margin: auto;
      display: flex;
      flex-direction: column; */
  }
}

@media screen and (max-width: 450px) {
  .image-container {
    display: none;
  }
}

/* faq section ends */

/* footer section */
footer {
  background: #2f327d;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.footer-nav {
  padding: 1% 4% 1%;
}
.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.footer-nav ul li a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 16px;
  opacity: 0.6;
}

/* for the copyright section of the footer */
#copyright {
  margin-left: 4%;
  color: white;
  font-size: 1em;
  opacity: 0.6;
  width: 15%;
}

/* hover for the footer section */
.footer-nav ul li a:hover {
  color: white;
  opacity: 1;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5% 0 1%;
}

.footer-icons a {
  color: white;
  text-decoration: none;
  margin: 0 1%;
  font-size: 20px;
  opacity: 0.3;
}

.footer-icons a:hover {
  color: white;
  opacity: 1;
}




/* Media queries */

@media screen and (max-width: 1200px) {
  .footer-nav ul li a {
      margin: 0;
      font-size: 0.8rem;
  }

  #copyright {
      font-size: 0.7rem;
  }

  .footer-icons a {
      color: white;
      text-decoration: none;
      margin: 0 1%;
      font-size: 0.9rem;
      opacity: 0.3;
  }

  
/* hover for the footer section */
.footer-nav ul li a:hover{
color: white;
opacity: 1;
}


.footer-icons a:hover {
  color: white;
  opacity: 1;
}

}



@media screen and (max-width: 860px) {
  .footer-nav ul li a {
      margin: 0;
      font-size: 0.7rem;
  }

  #copyright {
      font-size: 0.7rem;
  }

  .footer-icons a {
      color: white;
      text-decoration: none;
      margin: 0 1%;
      font-size: 0.7rem;
      opacity: 0.3;
  }

  
/* hover for the footer section */
.footer-nav ul li a:hover{
color: white;
opacity: 1;
}


.footer-icons a:hover {
  color: white;
  opacity: 1;
}

}

@media screen and (max-width: 450px) {
  .footer-nav{
      padding: 0;
  }

  .footer-nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      flex-direction: column;
  }

  .footer-nav ul li{
      margin-left: -9%;
  }

  .footer-nav ul li a {
      order: 1; /* Order list items to be at the top */
      padding: 0;
      font-size: 0.6rem;
  }

  hr {
      display: none;
  }

  .footer-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      order: 2;
      margin-top: 2%;
  }

  .footer-icons a {
      color: white;
      text-decoration: none;
      font-size: 0.6rem;
      opacity: 0.3;
  }

  #copyright {
      order: 3;
      margin-left: 25%;
      /* bottom: 0; */
      width: 80%;
      font-size: 0.6rem;
      margin-top: 10px;
  }

  
/* hover for the footer section */
.footer-nav ul li a:hover{
color: white;
opacity: 1;
}


.footer-icons a:hover {
  color: white;
  opacity: 1;
}

}


/* footer section ends */
