* {
  margin: 0%;
  padding: 0%;
}
.nav-bar {
  padding: 1rem 1em 1em 1em;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 15px;
  background-color: #ebfaff !important;
}
.home-list ul {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
}
.home-list li {
  list-style: none;
  margin-left: 30px;
  cursor: pointer;
}
.home-list li a:hover {
  color: #007ef3;
}
.home-list li a {
  text-decoration: none;
  color: black;
}
.button {
  align-content: center;
  align-items: center;
}
.button button {
  background-color: #007ef3;
  border: none;
  color: white;
  border-radius: 40px 40px 40px 40px;
  padding: 5px 40px;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 100px;
  cursor: pointer;
}
.button button:hover {
  color: #007ef3;
  background-color: white;
  border: 1px solid #007ef3;
  font-weight: 500;
}
.button img {
  cursor: pointer;
}

/* Contact us css section */
.contact-us {
  background-color: #ebfaff;
  padding-bottom: 2rem;
}
.contactus-details {
  padding: 4rem 30rem;
  text-align: center;
}
.contactus-details img {
  margin: 0rem 0rem 1rem;
}
.contactus-details h1,
p {
  margin: 0rem 0rem 1rem;
}
.contactus-details h1 {
  font-family: "Nunito Sans", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.contactus-details p {
  font-size: 20px;
}

/* Media queries for responsiveness */

@media screen and (max-width: 850px) {
  .heading-tag h1 {
    font-size: 40px;
    line-height: 50px;
    margin-top: 3%;
  }

  .heading-tag .stats ul li {
    font-size: 1.2em;
  }

  .register-button {
    font-size: 1em;
    padding: 15px;
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 450px) {
  .heading-tag h1 {
    font-size: 30px;
    line-height: 50px;
    margin-top: 3%;
  }

  .heading-tag .stats ul li {
    text-align: justify;
    margin-left: 10%;
    font-size: 1.2em;
  }

  .register-button {
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 3%;
  }
}

/* form section */
.form-section {
  margin: 0rem 15rem 2rem;
  border-radius: 30px;
  background-color: white;
  padding: 4rem 7rem;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  background-color: #1d2951;
  background-image: linear-gradient(315deg, #a3bac2 0%, #e2edff 74%);
}
.form-section form label,
input,
textarea {
  width: 100%;
  margin-bottom: 2rem;
}
.form-section form label {
  font-size: 16px;
}
.form-section form input {
  padding: 10px 10px;
  margin: 18px 0px;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid black;
}
.form-section form textarea {
  padding: 10px 10px;
  margin: 18px 0px;
  border-radius: 10px;
  font-size: 16px;
  height: 10rem;
}
.form-section form button {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid rgb(71, 71, 156);
  color: rgb(71, 71, 156);
  cursor: pointer;
}
.form-section form button:hover {
  color: white;
  border: 1px solid white;
  background-color: rgb(71, 71, 156);
}

/* footer section */
footer {
  background: #2f327d;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.footer-nav {
  padding: 1% 4% 1%;
}
.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.footer-nav ul li a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 16px;
  opacity: 0.6;
}

/* for the copyright section of the footer */
#copyright {
  margin-left: 4%;
  color: white;
  font-size: 1em;
  opacity: 0.6;
  width: 15%;
}

/* hover for the footer section */
.footer-nav ul li a:hover {
  color: white;
  opacity: 1;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5% 0 1%;
}

.footer-icons a {
  color: white;
  text-decoration: none;
  margin: 0 1%;
  font-size: 20px;
  opacity: 0.3;
}

.footer-icons a:hover {
  color: white;
  opacity: 1;
}

/* Media queries */
@media screen and (max-width: 860px) {
  .footer-nav ul li a {
    margin: 0;
    font-size: 0.7rem;
  }

  #copyright {
    font-size: 0.7rem;
  }

  .footer-icons a {
    color: white;
    text-decoration: none;
    margin: 0 1%;
    font-size: 0.7rem;
    opacity: 0.3;
  }

  /* hover for the footer section */
  .footer-nav ul li a:hover {
    color: white;
    opacity: 1;
  }

  .footer-icons a:hover {
    color: white;
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
  .footer-nav {
    padding: 0;
  }

  .footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: column;
  }

  .footer-nav ul li {
    margin-left: -9%;
  }

  .footer-nav ul li a {
    order: 1; /* Order list items to be at the top */
    padding: 0;
    font-size: 0.6rem;
  }

  hr {
    display: none;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    margin-top: 2%;
  }

  .footer-icons a {
    color: white;
    text-decoration: none;
    font-size: 0.6rem;
    opacity: 0.3;
  }

  #copyright {
    order: 3;
    margin-left: 25%;
    /* bottom: 0; */
    width: 80%;
    font-size: 0.6rem;
    margin-top: 10px;
  }

  /* hover for the footer section */
  .footer-nav ul li a:hover {
    color: white;
    opacity: 1;
  }

  .footer-icons a:hover {
    color: white;
    opacity: 1;
  }
}

/* footer section ends */
