* {
    margin: 0%;
    padding: 0%;
    /* background-color: #EBFAFF !important; */
  }
  
  /* try nav code  */


/* Language dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EBFAFF;
  min-width: 160px;
  z-index: 1;
  border-radius: 20px;
  padding: 10px;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
  box-sizing: border-box;
}


.dropdown-content a:hover {
color: white;
}

.dropdown:hover .dropdown-content {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

@media (max-width: 767px) {
.dropdown-content {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: rgb(75, 75, 75);
  display: block;
  transition: 0.3s;
}

.dropdown-content a:hover {
  color: #007EF3;
}

.dropdown:hover .dropdown-content {
  display: block;
}
}


  .button {
    align-content: center;
    align-items: center;
  }
  
  .button button {
    background-color: #007EF3;
    border: none;
    color: white;
    border-radius: 40px 40px 40px 40px;
    padding: 5px 40px;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 100px;
    cursor: pointer;
  }
  
  .button button:hover {
    color: #007EF3;
    background-color: white;
    border: 1px solid #007EF3;
  }
  
  .button img {
    cursor: pointer;
  }
  
  #navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    background-color: #EBFAFF;
    grid-gap: 1.5em;
    padding: 0 40px;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  }
  
  #logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
  }
  
  .logo {
    cursor: pointer;
  }
  
  #links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Nunito Sans", Sans-serif;
  }
  
  #links a {
    text-decoration: none;
    color: black;
    font-family: "Nunito Sans", Sans-serif;
  }
  
  #links a:hover {
    color: #007EF3;
  }
  
  /* =======================
  ******* Mobile Menu ******
  ========================*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#EBFAFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(75, 75, 75);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #007EF3;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  a {
    font-family: "Open Sans", sans-serif;
  }
  
  /* Mobile to Tablet  */
  @media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
      display: none;
    }
    #logo {
      display: inline-grid;
      grid-template-columns: auto auto;
      grid-gap: 2rem;
      align-items: center;
    }
  }
  
  
  /* Tablet to Desktop */
  @media (min-width: 768px) {
    .mobile-btn {
      display: none;
    }
  }
  
  @media (max-width: 854px){
    #navbar{
        padding: 0px 10px;
        width: 100%;
        grid-gap: 20px;
    }
    #links{
        grid-gap: 0px;
        align-items: baseline;;
    }
    #links a{
        padding: 1em 1em 1em 1em;
        font-size: 10px;
    }
    #logo img{
        width:120px;
        height: 30px;
    }
    .button button{
        border-radius: 13px;
        padding: 5px 8px;
        font-size: 11px;
        margin-left: 2px;
    }
  }
  
  @media screen and (min-width:855px) and (max-width: 990px){
    #navbar{
        padding: 0px 10px;
        width: 100%;
        /* grid-gap: 20px; */
    }
    .reverse img{
        width: 7rem;
        height: 2rem;
    }
    #links{
        grid-gap: 1rem;
        align-items: center;;
    }
    #links a{
        font-size: 0.8rem;
    }
    .button button{
        padding: 0.2rem 0.7rem;
        font-size: 11px;
        margin-left: 0px;
    }
    #playstore-img{
        width: 3.2rem;
        height: 2.8rem;
    }
  }
  
  
  @media screen and (min-width:991px) and (max-width: 1200px){
    #navbar{
        padding: 10px 20px;
    }
    .reverse img{
        width: 7rem;
        height: 2.3rem;
    }
    #links{
        grid-gap: 1.5rem;
        align-items: center;
    }
    #links a{
        font-size: 0.8rem;
    }
    .button button{
        padding: 0.2rem 1.2rem;
        margin-left: 0rem;
    }
    #playstore-img{
        width: 3.7rem;
        height: 3rem;
    }
  }
  
  /* for 4k view */
  @media screen and (min-width:1200px) and (max-width: 1800px){
    #navbar{
        padding: 20px 30px;
    }
    .reverse img{
        width: 10rem;
        height: 3rem;
    }
    #links{
        grid-gap: 1.5rem;
        align-items: center;
    }
    #links a{
        font-size: 1rem;
    }
    .button button{
        padding: 0.4rem 1.5rem;
        margin-left: 0rem;
    }
  }
  @media screen and (min-width:1801px) and (max-width: 2600px){
    #navbar{
        padding: 1rem 2rem;
    }
    .reverse img{
        width: 14vw;
        height: 6vh;
    }
    #links{
        grid-gap: 2.5rem;
        align-items: center;
    }
    #links a{
        font-size: 1.5rem;
    }
    .button button{
        padding: 0.6rem 2rem;
        margin-left: 0;
    }
  }
  
  
  
  
  
  
  /* ------Meet the tutor css------ */
  
  
  /* ------- teachers data section------- */
  
  /* Filtered data copied from angular project */
  .info {
    background-color: #ebfaff;
    padding: 5rem 3rem 2rem;
  }
  
  /* .container {
    display: flex;
    padding: 20px 0px;
  } */
  
  .left-section {
    flex: 1;
    padding-left: 10px;
    align-items: center;
    text-align: center;
  }
  
  .card {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-color: white;
    border-radius: 20px;
    padding: 10px 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .card img {
    height: 15rem;
    width: 24rem;
    margin-right: 30px;
    border-radius: 20px;
  }
  .info-right {
    font-size: 20px;
    text-align: left;
    margin-left: -100px;
    margin-top: 50px;
    /* background-image: url(https://www.kindpng.com/picc/m/2-26383_transparent-building-clipart-png-building-black-and-white.png); */
  }
  #lang-text {
    font-weight: bolder;
    font-size: 30px;
    color: brown;
  }
  .right-section {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px 2px;
  }
  .right-section iframe {
    height: 17rem;
    width: 24rem;
    border-radius: 20px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  }
  
  .right-section button {
    font-size: 13px;
    /* margin-left: 3rem; */
    padding: 10px 20px;
    background-color: rgb(53, 53, 138);
    color: rgb(230, 226, 226);
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  .right-section button:hover {
    color: rgb(53, 53, 138);
    background-color: #ebfaff;
    border: 1px solid rgb(53, 53, 138);
  }
  
  
  /* --------------------------------------------- */
  .container-fluid{
    background-color: #EBFAFF;
  }
  .left-section {
    flex: 60%;
    padding: 6rem 1rem 1rem;
  }
  .left-section h2{
    color: rgb(37, 37, 113);
    font-family: "Nunito Sans", Sans-serif;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .form-group{
    text-align: left;
    padding: 1rem 2rem 1rem;
  }
  .form-group label{
    font-family: "Nunito Sans", Sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(23, 100, 133);
  }
  .left-section button{
    margin: 1rem 0rem;
    background-color:rgb(37, 37, 113);
    border: none;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 1rem;
  }
  .left-section button:hover{
    background-color: white;
    color: rgb(37, 37, 113);
    border: 1px solid rgb(37, 37, 113);
    font-weight: 400;
  }
  .left-section form{
    padding: 0rem 7rem;
  }
  .right-section {
    flex: 40%;
    padding: 20px;
  }
  img {
    max-width: 100%;
  }
  
  
  /* teachers data section */
  /* .teacher-info-container{
    width: 100%;
  }
  .profile-img {
    height: 15rem;
    width: 20rem;
    margin-right: 20px;
    border-radius: 20px;
  }
  .profile-info {
    flex-grow: 1;
    width: 22rem;
  }
  .second-section{
    text-align: center;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 80%;
    overflow: hidden;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  .teacher-info-container{
    background-color: #EBFAFF;
    padding: 5rem 2rem 2rem;
  }
  .first-sec{
    border-radius: 20px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 1rem;
    background-color: white;
  }
  
  .custom-btn button{
    background-color: rgb(53, 53, 138);
    color: rgb(230, 226, 226);
  }
  .custom-btn button:hover{
    color: rgb(53, 53, 138);
    background-color: #ebfaff;
  }
  
  @media screen and (max-width: 1100px){
    .right-section{
      margin-top: 4rem;
    }
  } 
  @media screen and (max-width: 987px){
    .left-section form{
      padding: 0rem 5rem;
      text-align: center;
    }
    .right-section{
      display: none;
    }
    .second-section{
      margin-top: 2rem;
    }
  }
  @media screen and (max-width: 500px){
    .left-section form{
      padding: 0rem 1rem;
      text-align: center;
    }
    .profile-img{
      height: 14rem;
      width: 22rem;
      margin-right: 10px;
    }
    .photo-data{
      display: flex;
      flex-direction: column;
      
    }
    .profile-info{
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
      width: auto;
    }
  }  */
  
  
  /* ---------------demo------------ */
  .bodydiv {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .teacherData {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2rem;
  }
  
  .photoInfo {
    display: flex;
    flex: 1;
    align-items: center;
    /* border:3px solid #3f51b5; */
    justify-content: space-around;
    gap: 10px;
    height: 20rem;
    border-radius: 30px;
    padding: 1rem 0.9rem;
    background-color: #EBFAFF;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    /* background-image: url('https://www.pngfind.com/pngs/m/104-1042296_fancy-corner-borders-left-bottom-right-corner-border.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 20px;  */
  }
  .photoInfo img{
    height: 80%;
    width: auto;
    border-radius: 30px;
  }
  
  .infoText{
    height: 100%;
    padding: 1rem 1rem;
    text-align: left;
    flex: 70%;
    line-height: 2.5rem;
  }
  .infoText h2{
    font-family: "Nunito Sans", Sans-serif;
    font-weight: 700;
    color: rgb(150, 53, 53);
  }
  .infoText p {
    margin: 0;
    font-size: 18px;
    font-family: "Nunito Sans", Sans-serif;
  }
  
  .videoButton {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
    flex: 1;
  }
  
  .videoButton iframe {
    width: 80%;
    height: 20rem;
    border-radius: 30px;
  }
  
  .customButton button{
    background-color: #3f51b5;
    color: rgb(230, 226, 226);
    border: 1px solid white;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
  }
  .customButton button:hover{
    color: #3f51b5;
    background-color: #ebfaff;
    border: 1px solid #3f51b5;
  }
  
  /* Responsive adjustments */
  @media (max-width: 883px) {
    .teacherData {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
  
    .photoInfo,
    .videoButton {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 90%;
    }
  
    .photoInfo img {
      width: auto;
      height: auto;
    }
  }
  
  /* Further small screen adjustments */
  @media (max-width: 480px) {
    .photoInfo img {
        max-width: 80%;
    }
  }
  
  @media screen and (max-width:1500px){
    .photoInfo img{
      width: 18rem;
      height: 70%;
    }
  }
  @media screen and (max-width:1400px){
    .photoInfo img{
      width: 14rem;
      height: 60%;
    }
  }
  @media screen and (max-width:1240px){
    .teacherData{
      gap: 10px;
      padding: 1rem 1rem;
    }
    .photoInfo img{
      width: 14rem;
      height: 60%;
    }
    .infoText h2{
      font-size: 24px;
    }
    .infoText p{
      font-size: 15px;
    }
    .videoButton iframe{
      width: 95%;
    }
  }
  @media screen and (max-width:1101px){
    .teacherData{
      gap: 10px;
      padding: 1rem 1rem;
    }
    .photoInfo img{
      width: 12rem;
      height: 55%;
    }
    .infoText h2{
      font-size: 20px;
    }
    .infoText p{
      font-size: 13px;
    }
    .videoButton iframe{
      width: 95%;
    }
  }
  
  @media screen and (max-width: 973px){
    .teacherData{
      gap: 10px;
      padding: 1rem 1rem;
    }
    .photoInfo img{
      width: 9rem;
      height: 47%;
    }
    .infoText h2{
      font-size: 20px;
    }
    .infoText p{
      font-size: 13px;
    }
    .videoButton iframe{
      width: 95%;
    }
  }

  @media screen and (max-width: 450px){
    .left-section form{
      padding: 0rem 1rem;
      margin-left: -2rem;
    }
    .form-group{
      text-align: left;
      padding: 1rem 0rem;
    }
    .form-group select{
      width: 100px;
    }
    .form-group option{
      width: 100px;
    }
  }

  @media screen and (max-width: 400px){
    .left-section h2{
      font-size: 3.2rem;
    }
    .left-section form{
      padding: 0rem 0rem;
      text-align: center;
      margin-left: -2.5rem;
    }
    .form-group{
      padding: 1rem 0rem;
    }
    .form-group select{
      width: 10px;
    }
  }

  @media screen and (max-width: 650px){
    .left-section form{
      padding: 0rem 4rem;
    }
    .form-group{
      text-align: left;
      padding: 1rem 0rem;
    }
    .form-group select{
      width: 300px;
    }
    .form-group option{
      width: 300px;
    }
  }

  @media screen and (max-width: 600px){
    .left-section h2{
      font-size: 3.5rem;
    }
    .left-section form{
      padding: 0rem 4rem;
    }
    .form-group{
      text-align: left;
      padding: 1rem 0rem;
    }
    .form-group select{
      width: 300px;
    }
    .form-group option{
      width: 300px;
    }
  }
