* {
  margin: 0%;
  padding: 0%;
  /* background-color: #EBFAFF !important; */
}

/* try nav code  */
  
#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #EBFAFF;
  grid-gap: 1.5em;
  padding: 0 40px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.logo {
  cursor: pointer;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Nunito Sans", Sans-serif;
}

#links a {
  text-decoration: none;
  color: black;
  font-family: "Nunito Sans", Sans-serif;
}

#links a:hover {
  color: #007EF3;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#EBFAFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(75, 75, 75);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #007EF3;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: "Open Sans", sans-serif;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
  }
}

/* for tablet */
@media (max-width: 854px){
  #navbar{
      padding: 0px 10px;
      width: 100%;
      grid-gap: 20px;
  }
  #links{
      grid-gap: 0px;
      align-items: baseline;;
  }
  #links a{
      padding: 1em 1em 1em 1em;
      font-size: 10px;
  }
  #logo img{
      width:120px;
      height: 30px;
  }
  .button button{
      border-radius: 13px;
      padding: 5px 8px;
      font-size: 11px;
      margin-left: 2px;
  }

}

/* Tablet to Desktop */
@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}




/* ------Meet the tutor css------ */
.meet-the-tutor {
  background-color: #ebfaff;
  padding: 2rem 4rem 2rem 4rem;
  display: flex;
}
.meet-the-tutor-heading {
  margin: 8rem 16rem 1rem;
}
.meet-the-tutor-heading h1 {
  color: rgb(54, 91, 133);
  font-family: "Nunito Sans", Sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
}
.meet-the-tutor-dropdown {
  margin: 0rem 16rem;
  font-size: 30px;
  font-weight: bolder;
}
.meet-the-tutor-dropdown select {
  padding: 10px 20px;
  margin: 0rem 0rem 1rem;
  border-radius: 18px;
  background-color: #ebfaff;
  color: #274b66;
  font-weight: bold;
  border-width: 2px;
  font-size: 18px;
}
.meet-the-tutor-dropdown label {
  font-size: 25px;
  font-weight: bolder;
}
.filter-button {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  text-decoration: none;
  border-radius: 16px;
  padding: 10px 28px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #0368ff;
  border: 1px solid #0368ff;
  font-weight: bolder;
}
.filter-button:hover {
  color: rgb(230, 182, 63);
  background-color: rgb(206, 54, 31);
  border: 1px solid rgb(206, 54, 31);
}

/* ------- teachers data section------- */

/* Filtered data copied from angular project */
.info {
  background-color: #ebfaff;
  padding: 5rem 3rem 2rem;
}

.container {
  display: flex;
  padding: 20px 0px;
}

.left-section {
  flex: 1;
  padding-left: 10px;
  align-items: center;
  text-align: center;
}

.card {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  background-color: white;
  border-radius: 20px;
  padding: 10px 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card img {
  height: 15rem;
  width: 24rem;
  margin-right: 30px;
  border-radius: 20px;
}
.info-right {
  font-size: 20px;
  text-align: left;
  margin-left: -100px;
  margin-top: 50px;
  /* background-image: url(https://www.kindpng.com/picc/m/2-26383_transparent-building-clipart-png-building-black-and-white.png); */
}
#lang-text {
  font-weight: bolder;
  font-size: 30px;
  color: brown;
}
.right-section {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px 2px;
}
.right-section iframe {
  height: 17rem;
  width: 24rem;
  border-radius: 20px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.right-section button {
  font-size: 13px;
  /* margin-left: 3rem; */
  padding: 10px 20px;
  background-color: rgb(53, 53, 138);
  color: rgb(230, 226, 226);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.right-section button:hover {
  color: rgb(53, 53, 138);
  background-color: #ebfaff;
  border: 1px solid rgb(53, 53, 138);
}

/* footer section */
footer {
  background: #2f327d;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.footer-nav {
  padding: 1% 4% 1%;
}
.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.footer-nav ul li a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 16px;
  opacity: 0.6;
}

/* for the copyright section of the footer */
#copyright {
  margin-left: 4%;
  color: white;
  font-size: 1em;
  opacity: 0.6;
  width: 15%;
}

/* hover for the footer section */
.footer-nav ul li a:hover {
  color: white;
  opacity: 1;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5% 0 1%;
}

.footer-icons a {
  color: white;
  text-decoration: none;
  margin: 0 1%;
  font-size: 20px;
  opacity: 0.3;
}

.footer-icons a:hover {
  color: white;
  opacity: 1;
}


/* Media queries */


@media screen and (max-width: 1200px) {
  .footer-nav ul li a {
      margin: 0;
      font-size: 0.8rem;
  }

  #copyright {
      font-size: 0.7rem;
  }

  .footer-icons a {
      color: white;
      text-decoration: none;
      margin: 0 1%;
      font-size: 0.9rem;
      opacity: 0.3;
  }

}


@media screen and (max-width: 860px) {
  .footer-nav ul li a {
      margin: 0;
      font-size: 0.7rem;
  }

  #copyright {
      font-size: 0.7rem;
  }

  .footer-icons a {
      color: white;
      text-decoration: none;
      margin: 0 1%;
      font-size: 0.7rem;
      opacity: 0.3;
  }

  
/* hover for the footer section */
.footer-nav ul li a:hover{
color: white;
opacity: 1;
}


.footer-icons a:hover {
  color: white;
  opacity: 1;
}

}

@media screen and (max-width: 450px) {
  .footer-nav{
      padding: 0;
  }

  .footer-nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      flex-direction: column;
  }

  .footer-nav ul li{
      margin-left: -9%;
  }

  .footer-nav ul li a {
      order: 1; /* Order list items to be at the top */
      padding: 0;
      font-size: 0.6rem;
  }

  hr {
      display: none;
  }

  .footer-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      order: 2;
      margin-top: 2%;
  }

  .footer-icons a {
      color: white;
      text-decoration: none;
      font-size: 0.6rem;
      opacity: 0.3;
  }

  #copyright {
      order: 3;
      margin-left: 25%;
      /* bottom: 0; */
      width: 80%;
      font-size: 0.6rem;
      margin-top: 10px;
  }

  
/* hover for the footer section */
.footer-nav ul li a:hover{
color: white;
opacity: 1;
}


.footer-icons a:hover {
  color: white;
  opacity: 1;
}

}

/* footer section ends */
