*{
    margin: 0;
    padding: 0;
}

/* navbar section starts */
.button {
    align-content: center;
    align-items: center;
  }
  
  .button button {
    background-color: #007EF3;
    border: none;
    color: white;
    border-radius: 40px 40px 40px 40px;
    padding: 5px 40px;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 100px;
    cursor: pointer;
  }
  
  .button button:hover {
    color: #007EF3;
    background-color: white;
    border: 1px solid #007EF3;
  }
  
  .button img {
    cursor: pointer;
  }
      
  #navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    background-color: #EBFAFF;
    grid-gap: 1.5em;
    padding: 0 40px;
  }
  
  #logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
  }
  
  .logo {
    cursor: pointer;
  }
  
  #links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Nunito Sans", Sans-serif;
  }
  
  #links a {
    text-decoration: none;
    color: black;
    font-family: "Nunito Sans", Sans-serif;
  }
  
  #links a:hover {
    color: #007EF3;
  }
  
  /* =======================
  ******* Mobile Menu ******
  ========================*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#EBFAFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(75, 75, 75);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #007EF3;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  a {
    font-family: "Open Sans", sans-serif;
  }
  
  /* Mobile to Tablet  */
  @media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
      display: none;
    }
    #logo {
      display: inline-grid;
      grid-template-columns: auto auto;
      grid-gap: 2rem;
      align-items: center;
    }
  }
  
  
  /* Tablet to Desktop */
  @media (min-width: 768px) {
    .mobile-btn {
      display: none;
    }
  }
  
  @media (max-width: 854px){
    #navbar{
        padding: 0px 10px;
        width: 100%;
        grid-gap: 20px;
    }
    #links{
        grid-gap: 0px;
        align-items: baseline;;
    }
    #links a{
        padding: 1em 1em 1em 1em;
        font-size: 10px;
    }
    #logo img{
        width:120px;
        height: 30px;
    }
    .button button{
        border-radius: 13px;
        padding: 5px 8px;
        font-size: 11px;
        margin-left: 2px;
    }
  }
  
  @media screen and (min-width:855px) and (max-width: 990px){
    #navbar{
        padding: 0px 10px;
        width: 100%;
        /* grid-gap: 20px; */
    }
    .reverse img{
        width: 7rem;
        height: 2rem;
    }
    #links{
        grid-gap: 1rem;
        align-items: center;;
    }
    #links a{
        font-size: 0.8rem;
    }
    .button button{
        padding: 0.2rem 0.7rem;
        font-size: 11px;
        margin-left: 0px;
    }
    #playstore-img{
        width: 3.2rem;
        height: 2.8rem;
    }
  }
  
  
  @media screen and (min-width:991px) and (max-width: 1200px){
    #navbar{
        padding: 10px 20px;
    }
    .reverse img{
        width: 7rem;
        height: 2.3rem;
    }
    #links{
        grid-gap: 1.5rem;
        align-items: center;
    }
    #links a{
        font-size: 0.8rem;
    }
    .button button{
        padding: 0.2rem 1.2rem;
        margin-left: 0rem;
    }
    #playstore-img{
        width: 3.7rem;
        height: 3rem;
    }
  }
  
  /* for 4k view */
  @media screen and (min-width:1200px) and (max-width: 1800px){
    #navbar{
        padding: 20px 30px;
    }
    .reverse img{
        width: 10rem;
        height: 3rem;
    }
    #links{
        grid-gap: 1.5rem;
        align-items: center;
    }
    #links a{
        font-size: 1rem;
    }
    .button button{
        padding: 0.4rem 1.5rem;
        margin-left: 0rem;
    }
  }
  @media screen and (min-width:1801px) and (max-width: 2600px){
    #navbar{
        padding: 1rem 2rem;
    }
    .reverse img{
        width: 14vw;
        height: 6vh;
    }
    #links{
        grid-gap: 2.5rem;
        align-items: center;
    }
    #links a{
        font-size: 1.5rem;
    }
    .button button{
        padding: 0.6rem 2rem;
        margin-left: 0;
    }
  }
/* navbar section ends */
/* ------cover page section ------- */

.cover-page{
    padding: 8rem 11rem;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EBFAFF !important;
}
.cover-page h1{
    color: #2F327D;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 68px;
    font-weight:800 ;
    line-height: 75px;
    background-color: #EBFAFF !important;
}
.coverpage-para{
    margin: 5rem 0rem;
    padding: 0rem 14rem;
}
.coverpage-para p{
    text-align: center;
    color: #0A0A0A;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 20px;
    background-color: #EBFAFF !important;
}
.coverpage-button button{
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    line-height: 30px;
    background-color: #0368FF;
    border-radius: 40px 40px 40px 40px;
    box-shadow: -3px 0px 23px 0px rgba(2.9999999999999893, 103.99999999999986, 255, 0.5);
    padding: 18px 54px 18px 55px;
    border: none;
    cursor: pointer;
    color: white;
    margin-bottom: 50px;
} 


/* Base styles for desktop */
.cover-page {
    padding: 8rem 11rem;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EBFAFF !important;
}

.cover-page h1 {
    color: #2F327D;
    font-family: "Nunito Sans", sans-serif;
    font-size: 68px;
    font-weight: 800;
    line-height: 75px;
    background-color: #EBFAFF !important;
}

.coverpage-para {
    margin: 5rem 0rem;
    padding: 0rem 14rem;
}

.coverpage-para p {
    text-align: center;
    color: #0A0A0A;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 20px;
    background-color: #EBFAFF !important;
}

.coverpage-button button {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    line-height: 30px;
    background-color: #0368FF;
    border-radius: 40px 40px 40px 40px;
    box-shadow: -3px 0px 23px 0px rgba(2.9999999999999893, 103.99999999999986, 255, 0.5);
    padding: 18px 54px 18px 55px;
    border: none;
    cursor: pointer;
    color: white;
    margin-bottom: 50px;
}

/* Media query for tablets and mobile devices */
@media only screen and (max-width: 1024px) {
    .cover-page {
        padding: 6rem 4rem;
    }

    .cover-page h1 {
        font-size: 48px;
        line-height: 55px;
    }

    .coverpage-para {
        padding: 0rem 2rem;
    }
    .coverpage-para p{
        font-size: 18px;
    }
    .coverpage-button button{
        font-size: 16px;
        padding: 14px 46px 14px 46px;
    }
}

@media only screen and (max-width: 768px) {
    .cover-page {
        padding: 4rem 2rem;
    }

    .cover-page h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .coverpage-para {
        padding: 0rem 1rem;
    }

    .coverpage-button button {
        padding: 12px 36px 12px 37px;
        font-size: 16px;
    }
}


/* ----sliding section------ */
.sliding-section{
    background-color: white;
    margin: 0rem 0rem 0rem;
    padding: 0rem 0rem 2rem;
}
.sliding-section-heading{
    text-align: center;
}
.sliding-section-heading h1{
    color: #2F327D;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 54px;
}
.sliding-container {
    cursor: pointer;
    width: 100%; 
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 20px 0; 
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}

.sliding-card {
    display: inline-block;
    margin-right: 10px; 
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}
.sliding-section {
    background-color: white;
    margin: 5rem 0; /* Adjusted margin for responsiveness */
    padding: 8rem 0 2rem; /* Adjusted padding for responsiveness */
}

.sliding-section-heading h1 {
    font-size: 36px; /* Adjusted font size for responsiveness */
    line-height: 45px; /* Adjusted line height for responsiveness */
}

.sliding-container {
    cursor: pointer;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}

.sliding-card {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px; /* Added margin bottom for responsiveness */
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}

/* Hide the scrollbar */
.sliding-container::-webkit-scrollbar {
    width: 0;
}

.sliding-container::-webkit-scrollbar-track {
    display: none;
}

.sliding-container::-webkit-scrollbar-thumb {
    display: none;
}

.sliding-card img {
    display: block;
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
}

.sliding-card:first-child {
    margin-left: 0;
}

.sliding-card:last-child {
    margin-right: 0;
}

/* Media query for tablets */
@media screen and (max-width: 854px) {
    .sliding-section {
        padding: 6rem 0 1rem;
    }
    
    .sliding-section-heading h1 {
        font-size: 30px;
        line-height: 38px;
    }
    
    .sliding-card {
        margin-right: 5px;
    }
    .sliding-card img{
        width: 160px;
        height: 200px;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 450px) {
    .sliding-section {
        padding: 4rem 0 0rem;
        margin: 2rem 0rem 1rem;
    }
    .sliding-section-heading h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .sliding-card {
        margin-right: 0;
    }
    .sliding-card img{
        width: 140px;
        height: 180px;
    }
}



/* guide form section */
/* .copy-html{
    margin: 2rem 12rem;
} */

.copy-html {
    margin: 2rem 12rem; /* Default margin */
}

@media screen and (max-width: 1100px) {
    .copy-html {
        margin: 2rem 2rem; 
    }
}

/* Media query for tablets */
@media screen and (max-width: 854px) {
    .copy-html {
        margin: 2rem 2rem; 
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 450px) {
    .copy-html {
        margin: 1rem 2rem;
    }
}


.form-background {
    background-color: #EBFAFF;
}

.radioset {
border: 0;
border-radius: 0.5em;
margin: auto;
}
.radioset ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
position: relative;
}
.radioset ul::before {
content: "";
position: absolute;
top: 60%;
left: 12.5%;
right: 12.5%;
height: 6px;
margin-top: -3px;
background: #ddd;
}
.radioset li {
display: inline-block;
position: relative;
}

.radioset [type="radio"] {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
cursor: pointer;
z-index: 1;
-webkit-tap-highlight-color: transparent;
}
.radioset label {
line-height: 30px;
padding-bottom: 40px;
display: block;
color: #000;
text-shadow: 0 1px #fff, 0 -1px #eee;
font-variant: small-caps;
}
.radioset label::before,
.radioset label::after {
content: "";
position: absolute;
left: 50%;
top: 60%;
border-radius: 50%;
transform: translate3d(0, 0, 0);
-moz-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.35s all;
-o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.35s all;
-webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.35s all;
transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.35s all;
}
.radioset label::before {
width: 20px;
height: 20px;
margin: -10px 0 0 -10px;
border: 0 solid #ccc;
background: #ccc;
transform: scale(0.7);
box-shadow: inset 0 3px 5px -4px #000, 0 2px 1px -1px #fff;
}
.radioset label::after {
width: 10px;
height: 10px;
margin: -5px 0 0 -5px;
background: #fff;
transform: scale(0);
opacity: 0;
}
.radioset :checked + label::before,
.radioset :checked + label::after {
-moz-transition: cubic-bezier(1, -1, 0.4, 1.4) 0.4s all;
-o-transition: cubic-bezier(1, -1, 0.4, 1.4) 0.4s all;
-webkit-transition: cubic-bezier(1, -1, 0.4, 1.4) 0.4s all;
transition: cubic-bezier(1, -1, 0.4, 1.4) 0.4s all;
}
.radioset :checked + label::before {
transform: scale(1);
}
.radioset :checked + label::after {
transform: scale(1);
opacity: 1;
box-shadow: inset 0 -5px 5px -5px #ccc, 0 2px 5px -2px #000;
}

.radioset.language ul::before,
.radioset.purpose ul::before {
left: 5%;
right: 5%;
}

.radioset.language li {
width: calc(100% / 7);
}

.radioset.purpose li {
width: calc(100% / 6);
}

.radioset.proficiency ul::before {
left: 5%;
right: 5%;
}

.radioset.proficiency li {
width: calc(100% / 6);
}

.radioset.language [type="radio"]:checked + label::before,
.radioset.purpose [type="radio"]:checked + label::before,
.radioset.proficiency [type="radio"]:checked + label::before {
background: #2F327D;
}

.radioset.language [type="radio"]:checked + label,
.radioset.purpose [type="radio"]:checked + label,
.radioset.proficiency [type="radio"]:checked + label {
color: #2F327D;
}


@media (max-width: 850px) {
.radioset:last-child {
margin-bottom: 2em;
}

.radioset ul {
display: none;
}
}

@media (min-width: 768px) {
.radioset select {
display: none;
}
}


/* language Solution starts */
.lang-sol{
    background-color: white;
    padding: 5rem 0rem;
}
.heading-lang-sol {
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.heading-lang-sol h1{
    background-color: white;
    color: #2F327D;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    
}
.lang-card{
    background-color: white;
    display: flex;
    margin: 6rem 10rem;
    position: relative;
    align-items: center;
    justify-content: center;
}
.cards{
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
}
.cards img,h4,p{
    background-color: white;
}
.cards h4{
    color: rgb(56, 56, 56);
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.cards p{
    padding: 0px 30px;
    text-align:inherit;
    color: #464646;
    font-family: "Poppins", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 33px;
}
@media screen and (max-width: 2500px){
    .heading-lang-sol h1{
        font-size: 70px;
        margin-bottom: 7%;
    }
}
@media screen and (max-width: 1900px){
    .heading-lang-sol h1{
        font-size: 50px;
        margin-bottom: 7%;
    }
}
@media screen and (max-width: 1300px){
    .lang-sol{
        padding: 6rem 3rem;
    }
    .heading-lang-sol h1{
        font-size: 40px;
        margin-bottom: 7%;
    }
    .lang-card{
        margin: 0rem 0rem;
    }
    .cards{
        padding: 0rem 0rem;
    }

    .cards img{
        width: 17vw;
        height: 22vh;
    }

    .cards h4{
        font-size: 20px;
        line-height: 20px;
    }
    .cards p{
        font-size: 16px;
    }
}
@media screen and (max-width: 930px){
    .lang-sol{
        padding: 5rem 0rem;
    }
    .cards img{
        width: 16vw;
        height: 15vh;
    }
    .lang-card{
        margin: 0rem 0rem;
    }
    .cards{
        padding: 0rem 0rem;
    }
}

@media screen and (max-width: 854px){
    .lang-sol{
        padding: 5rem 0rem;
    }
    .heading-lang-sol h1{
        font-size: 40px;
    }
    .lang-card{
        margin: 0rem 0rem;
    }
    .cards{
        padding: 0rem 0rem;
    }
    .cards h4{
        font-size: 20px;
        line-height: 20px;
    }
    .cards p{
        font-size: 16px;
    }
    .cards img{
        width: 17vw;
        height: 14vh;
    }
}
@media screen and (max-width: 790px){
    .cards img{
        width: 15vw;
        height: 13vh;
    }
}
@media screen and (max-width: 690px){
    .heading-lang-sol h1{
        font-size: 35px;
    }
    .cards img{
        width: 14vw;
        height: 11vh;
    }
    .cards h4{
        font-size: 18px;
        line-height: 20px;
    }
}
@media screen and (max-width: 560px){
    .heading-lang-sol h1{
        font-size: 34px;
    }
    .lang-card{
        flex-direction: column;
        margin: 4rem 0rem;
    }
    .cards{
        padding: 1rem 2rem;
    }
    .cards img{
        width: 24vw;
        height: 18vh;
    }
    .cards h4{
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .cards p{
        font-size: 15px;
        line-height: 25px;
        padding: 0px 0px;
    }

}
@media screen and (max-width: 460px){
    .heading-lang-sol h1{
        font-size: 34px;
    }
    .lang-card{
        flex-direction: column;
        margin: 4rem 0rem;
    }
    .cards{
        padding: 1rem 2rem;
    }
    .cards img{
        width: 30vw;
        height: 16vh;
    }
    .cards h4{
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .cards p{
        font-size: 15px;
        line-height: 25px;
        padding: 0px 0px;
    }

}


/* learn foreign language section starts */
.learn-foriegn-lang-section{
    background-color: white;
    padding: 2rem 3rem;
}
.learn-foriegn-lang{
    background-color: white;
    margin: 5rem 10rem;
    padding: 7rem 5rem;
    border: 1px solid #0368FF;
    border-radius: 40px;
   
}
.learn-foriegn-lang-container{
    background-color: white;
}
.learn-foriegn-lang-heading{
    text-align: center;
    margin: 0rem 15rem;
    margin-top: -16%;   
    margin-bottom: 5rem;
}
.learn-foriegn-lang-heading h1{
    z-index: 10;
    color: #2F327D;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 54px;
}
.container1{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 70px; 
    padding: 20px;
    text-align: center;
}
.container-cards{
    background-color: white;
}
.container-cards img,h1,p{
    background-color: white;
}
.container-cards h1{
    color: #2F327D;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-cards p{
    text-align: center;
    color: #464646;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}
@media screen and (max-width: 2500px){
    .learn-foriegn-lang-heading h1{
        font-size: 60px;
    }
    .learn-foriegn-lang-heading{
        margin-top: 0%;
        margin-bottom: 4rem;
    }
}
@media screen and (max-width: 1936px){
    .learn-foriegn-lang-heading h1{
        font-size: 50px;
    }
    .learn-foriegn-lang-heading{
        margin-top: -5%;
        margin-bottom: 4rem;
    }
}
@media screen and (max-width: 1785px){
    .learn-foriegn-lang-heading h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 1613px){
    .learn-foriegn-lang-heading h1{
        font-size: 40px;
    }
    .learn-foriegn-lang{
        margin: 2rem 3rem;
        padding: 2rem 0rem;
    }
}

@media screen and (max-width: 1200px){
    .learn-foriegn-lang{
        margin: 2rem 3rem;
        padding: 2rem 0rem;
    }
    .learn-foriegn-lang-heading{
        margin-top: -6%;
        margin-bottom: 4rem;
    }
    .learn-foriegn-lang-heading h1{
        font-size: 40px;
    }
    .container-cards h1{
        font-size: 16px;
    }
    .container-cards p{
        font-size: 14px;
    }
}
@media screen and (max-width: 972px){
    .learn-foriegn-lang{
        margin: 0rem 2rem;
        padding: 2rem 0rem;
    }
    .learn-foriegn-lang-heading{
        margin-top: -9%;
        margin-bottom: 4rem;
    }
    .learn-foriegn-lang-heading h1{
        font-size: 32px;
    }
    .container-cards h1{
        font-size: 16px;
    }
    .container-cards p{
        font-size: 14px;
    }
}

@media screen and (max-width: 854px){
    .learn-foriegn-lang{
        margin: 0rem 0rem;
        padding: 2rem 0rem;
    }
    .learn-foriegn-lang-heading{
        margin-top: -9%;
        margin-bottom: 4rem;
    }
    .learn-foriegn-lang-heading h1{
        font-size: 32px;
    }
    .container-cards h1{
        font-size: 16px;
    }
    .container-cards p{
        font-size: 14px;
    }
}
@media screen and (max-width: 841px){
    .learn-foriegn-lang h1{
        font-size: 28px ;
    }
    .container-cards h1{
        font-size: 16px;
    }
    .learn-foriegn-lang-section{
        padding: 2rem 2rem;
    }
}
@media screen and (max-width: 816px){
    .learn-foriegn-lang-heading{
        margin: 0rem 10rem;
    }
    .container1{
        padding: 20px 0px;
    }
}
@media screen and (max-width: 816px){
    .learn-foriegn-lang-heading{
        margin: 0rem 5rem;
    }
    .container1{
        padding: 20px 0px;
    }
    .learn-foriegn-lang-section{
        padding: 2rem 2rem;
    }
}
@media screen and (max-width: 612px){
    .learn-foriegn-lang-heading{
        margin: 0rem 2rem;
    }
    .learn-foriegn-lang h1{
        font-size: 22px ;
    }
    .container-cards h1{
        font-size: 14px;
    }
    .container-cards p{
        font-size: 12px;
    }
}
@media screen and (max-width: 508px){
    .learn-foriegn-lang-heading{
        margin: 0rem 0rem;
    }
    .learn-foriegn-lang h1{
        font-size: 19px ;
    }
    .container-cards h1{
        font-size: 13px;
    }
    .container-cards p{
        font-size: 11px;
    }
}
@media screen and (max-width: 500px){
    .learn-foriegn-lang{
        padding: 2rem 1rem;
    }
    .lang-foriegn-lang{
        margin: 0rem 0rem;
        padding: 0rem 0rem;
        width: 100%;
    }
    .learn-foriegn-lang-heading{
        margin-top: 0;
        margin-bottom: 0;
        margin: 0rem 0rem;
    }
    .learn-foriegn-lang-heading h1{
        font-size: 30px;
        font-weight: 800;
    }
    .container1{
        display: flex;
        flex-direction: column;
        padding: 10px
    }
    .container1{
        gap: 10px;
    }
    .container-cards h1{
        margin:10px 0px 5px;
    }
}




/* ------ why foreign lang centers.... section */

.foreign-lang-section{
    background-color: white;
    padding: 5rem 9rem;
}
.foreign-lang-section-heading{
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.foreign-lang-section-heading h1{
    color: #2F327D;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;  
}
.foreign-lang-container{
    display: flex;
    padding: 2rem 2rem;
    background-color: white;
}
.foreign-lang-left-container{
    flex: 50%;
    background-color: white;
    padding: 0rem 1rem;
}
.foreign-lang-left-container h4{
    text-align: left;
    color: #464646;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 33px;
    text-align: justify;
}
.foreign-lang-left-container p{
    text-align: left;
    color: #464646;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: justify;
}
.foreign-lang-right-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0rem 3rem;
    flex: 50%;
}
.foreign-lang-sub-contianer{
    display: flex;
    background-color: white;
    align-items:normal;
}
.foreign-lang-sub-contianer img{
    background-color: white;
    margin-bottom: 30px;
    margin-right: 20px;
}
.foreign-lang-sub-contianer p{
    font-size: 20px;
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-align: justify;
}

@media screen and (max-width: 1200px){
    .foreign-lang-section{
        padding: 2rem 2rem;
    }
    .foreign-lang-section-heading h1{
        font-size: 32px;
        font-weight: 800;
    }
    .foreign-lang-container{
        padding: 1rem 1rem;
    }

    .foreign-lang-left-container{
        margin-right: 1rem;
    }
    .foreign-lang-left-container h4{
        font-size: 18px;
        text-align: justify;
    }
    .foreign-lang-left-container p{
        font-size: 18px;
        text-align: justify;
    }
    .foreign-lang-right-container{
        padding: 0rem 0rem;
        align-items: baseline;
        justify-content: baseline;
    }
    .foreign-lang-right-container img{
        width: 100px;
        height: 60px;
    }
    .foreign-lang-sub-contianer{
        padding: 0rem 0rem 2rem;
        justify-content: center;
    }
    .foreign-lang-sub-contianer p{
        font-size: 16px;
        text-align: justify;
    }
}

@media screen and (max-width: 900px){
    .foreign-lang-section{
        padding: 2rem 2rem;
    }
    .foreign-lang-section-heading h1{
        font-size: 32px;
        font-weight: 800;
    }
    .foreign-lang-container{
        /* padding: 1rem 1rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .foreign-lang-left-container{
        width: 90vw;
    }

    .foreign-lang-left-container h4{
        font-size: 18px;
    }
    .foreign-lang-left-container p{
        font-size: 18px;
    }

    .foreign-lang-right-container{
        width: 90vw;
        margin-top: 3%;
    }
    .foreign-lang-sub-contianer{
        padding: 0rem 0rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .foreign-lang-sub-container img{
        width: 4rem;
        height: 4rem;
    }
    .foreign-lang-sub-contianer p{
        font-size: 16px;
    }
}


@media screen and (max-width: 700px){
    .foreign-lang-section{
        padding: 2rem 2rem;
    }
    .foreign-lang-section-heading h1{
        font-size: 32px;
        font-weight: 800;
    }
    .foreign-lang-container{
        padding: 1rem 1rem;
    }
    .foreign-lang-left-container h4{
        font-size: 18px;
    }
    .foreign-lang-left-container p{
        font-size: 18px;
    }
    .foreign-lang-right-container{
        padding: 0rem 0rem;
        align-items: baseline;
        justify-content: baseline;
    }
    .foreign-lang-right-container img{
        width: 100px;
        height: 60px;
    }
    .foreign-lang-sub-contianer{
        padding: 0rem 0rem 2rem;
        justify-content: center;
    }
    .foreign-lang-sub-contianer p{
        font-size: 16px;
    }
}


@media screen and (max-width: 450px){
    .foreign-lang-section{
        padding: 2rem 1rem;
    }
    .foreign-lang-section-heading{
        margin-bottom: 2rem;
    }
    .foreign-lang-section-heading h1{
        font-size: 27px;
        line-height: 32px; 
    }
    .foreign-lang-container{
        flex-direction: column;
    }
    .foreign-lang-left-container{
        align-items: justify;
        text-align: center;
        padding: 0rem 0rem;
    }
    .foreign-lang-left-container h4{
        font-size: 15px;
        text-align: justify;
    }
    .foreign-lang-left-container p{
        font-size: 15px;
        text-align: justify;
    }
    .foreign-lang-right-contianer{
        padding: 5rem 0rem 1rem;
    }
}





/* why we stand out section */
.stand-out-section{
    background-color: #4992FF;
    display: flex;
    padding: 6rem 1rem;
}
.stand-out-left-section{
    flex: 30%;
    align-items: center;
    text-align: center;
    background-color:#4992FF;
}
.stand-out-card{
    background-color: white;
}
.stand-out-text h1{
    color: #FFFFFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 68px;
    font-weight: 700;
    line-height: 81.6px;
    background-color:#4992FF;
}
.stand-out-images{
    background-color:#4992FF;
}
.stand-out-images img{
    background-color:#4992FF;
}
.stand-out-right-section{
    flex: 55%;
    background-color: #4992FF;
    margin-right: 30px;
}
.stand-out-container{
    background-color: #4992FF;
}
.stand-out-card{
    display: flex;
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 1rem 1rem;
    justify-content: space-around;
}
.stand-out-left-part{
    padding-right: 20px;
    background-color: white;
    flex:30%
}
.stand-out-left-part h1{
    text-align: left;
    color: #2F327D;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
}
.stand-out-right-part{
    margin-left: 10px;
    flex: 70%;
    background-color: white;
}
.stand-out-right-part p{
    text-align: left;
    color: #464646;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    flex: 60%;
}
@media screen and (max-width: 854px){
    .stand-out-section{
        padding: 1rem 0rem;
    }
    .stand-out-text h1{
        font-size: 48px;
        line-height: 78px;
    }
    .stand-out-images{
        padding: 8rem 0rem 0rem;
    }
    .stand-out-images img{
        width: 200px;
        height: 400px;
    }
    .stand-out-left-part h1{
        font-size: 18px;
    }
    .stand-out-right-part p{
        font-size: 15px;
        line-height: 24px;
    }
    .stand-out-card{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 450px){
    .stand-out-section{
        padding: 1rem 1rem;
        flex-direction: column;
    }
    .stand-out-images{
        display: none;
    }
    .stand-out-left-part h1{
        font-size: 16px;
    }
    .stand-out-right-section{
        margin-right: 0px;
    }
    .stand-out-right-part  p{
        font-size: 14px;
    }

}





/* 11 foreign language section */
.various-lang{
    padding: 2rem 2rem;
}
.foreign-lang{
    text-align: center;
    margin: 2rem 2rem;
    padding: 0rem 1rem;
    margin-top: -16%;  
    background-color: white; 
    z-index: 11;
}
.foreign-lang h1{
    color: #2F327D;
    font-family: "Nunito Sans", Sans-serif;
    margin: 2rem 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    background-color: white;
}
.foreign-lang-border{
    background-color: white;
    margin: 10rem 10rem;
    padding: 7rem 7rem;
    border: 1px solid #0368FF;
    border-radius: 40px;
}
.foreign-lang-content-para{
    text-align: center;
    margin: 3rem 0rem;
    padding: 0rem 4rem;
}
.foreign-lang-content-para p{
    color: #464646;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;

}
.european-lang-section, .asian-lang-section{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.european-lang-left-part{
    background-image: url(../images/Index/Picture7-300x113.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.asian-lang-left-part{
    background-image: url(../images/Index/Picture1-1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.european-lang-left-part, .asian-lang-left-part{
    text-align: left;
    color: #65DAFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 42px;
    flex: 30%;
    padding: 0rem 3rem;
}
.european-lang-right-part{
    text-align: left;
    flex: 60%;
    padding: 0rem 1rem;
}
.asian-lang-right-part{
    text-align: left;
    flex: 60%;
    padding: 0rem 1rem;
}
.lang-button{
    font-family: "Poppins", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
    line-height: 31.5px;
    fill: #464646;
    color: #464646;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #C8C8C8;
    border-radius: 10px 10px 10px 10px;
    padding: 12.9px 27.43px 13.24px 27.71px;
    margin-right: 4rem;
    margin-bottom: 2rem;
}
.lang-button:hover{
    color: #007EF3;
    border-color: #007EF3;  
}
.lang-button:focus{
    color: #ef8b1a;
    border-color: #ef8b1a;   
}


@media screen and (max-width: 1526px){
    .foreign-lang-border{
        margin: 8rem 2rem;
        padding: 7rem 1rem;
    }
    .foreign-lang{
        margin: 2rem 4rem;
        margin-top: -20%;
    }
    .foreign-lang h1{
        margin-top: 6rem;
        font-size: 40px;
        line-height: 52px;
    }
    .foreign-lang-content-para{
        padding: 0rem 1rem;
    }
    .foreign-lang-content-para p{
        font-size: 17px;
    }
    .lang-button{
        font-size: 18px;
        padding: 10px 24px 10px 24px;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 1171px){
    .foreign-lang-border{
        margin: 8rem 2rem;
        padding: 7rem 1rem;
    }
    .foreign-lang{
        margin: 2rem 4rem;
        margin-top: -20%;
    }
    .foreign-lang h1{
        margin-top: 1rem;
        font-size: 40px;
        line-height: 52px;
    }
    .foreign-lang-content-para{
        padding: 0rem 1rem;
    }
    .foreign-lang-content-para p{
        font-size: 17px;
    }
    .lang-button{
        font-size: 18px;
        padding: 10px 24px 10px 24px;
        margin-right: 2rem;
    }
}


@media screen and (max-width: 854px){
    .foreign-lang-border{
        margin: 4rem 2rem;
        padding: 7rem 1rem;
    }
    .foreign-lang{
        margin: 2rem 4rem;
        margin-top: -20%;
    }
    .foreign-lang h1{
        font-size: 32px;
        line-height: 40px;
    }
    .foreign-lang-content-para{
        padding: 0rem 1rem;
    }
    .foreign-lang-content-para p{
        font-size: 17px;
    }
    .lang-button{
        font-size: 18px;
        padding: 10px 24px 10px 24px;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 740px){
    .foreign-lang-border{
        margin: 8rem 2rem;
        padding: 7rem 1rem;
    }
    .foreign-lang{
        margin: 2rem 4rem;
        margin-top: -20%;
    }
    .foreign-lang h1{
        margin-top: -14rem;
        font-size: 30px;
        line-height: 52px;
    }
    .foreign-lang-content-para{
        padding: 0rem 1rem;
    }
    .foreign-lang-content-para p{
        font-size: 17px;
    }
    .lang-button{
        font-size: 18px;
        padding: 10px 24px 10px 24px;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 665px){
    .various-lang{
        padding: 2rem 0rem 0rem;
    }
    .foreign-lang{
        margin: 2rem  0.5rem;
        margin-top: -30%;
    }
    .foreign-lang h1{
        margin-top: 7rem;
        font-size: 20px;
        line-height: 35px;
    }
    .foreign-lang-border{
        padding: 2rem 1rem;
    }
    .foreign-lang-content-para{
        margin: 1rem 0rem;
        padding: 0rem 0rem;
    }
    .european-lang-section, .asian-lang-section{
        flex-direction: column;
    }
    .european-lang-left-part, .asian-lang-left-part{
        text-align: center;
        font-weight: 900;
        margin: 0rem 0rem 1rem;
    }
    .european-lang-right-part, .asian-lang-right-part{
        text-align: center;
    }
    .lang-button{
        font-size: 15px;
        padding: 8px 16px 8px 16px;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

}

@media screen and (max-width: 600px){
    .various-lang{
        padding: 2rem 0rem 0rem;
    }
    .foreign-lang{
        margin: 2rem  0.5rem;
        margin-top: -30%;
    }
    .foreign-lang h1{
        margin-top: 6rem;
        font-size: 20px;
        line-height: 35px;
    }
    .foreign-lang-border{
        padding: 2rem 1rem;
    }
    .foreign-lang-content-para{
        margin: 1rem 0rem;
        padding: 0rem 0rem;
    }
    .european-lang-section, .asian-lang-section{
        flex-direction: column;
    }
    .european-lang-left-part, .asian-lang-left-part{
        text-align: center;
        font-weight: 900;
        margin: 0rem 0rem 1rem;
    }
    .european-lang-right-part, .asian-lang-right-part{
        text-align: center;
    }
    .lang-button{
        font-size: 15px;
        padding: 8px 16px 8px 16px;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

}

@media screen and (max-width: 540px){
    .various-lang{
        padding: 2rem 0rem 0rem;
    }
    .foreign-lang{
        margin: 2rem  0.5rem;
        margin-top: -30%;
    }
    .foreign-lang h1{
        margin-top: 5rem;
        font-size: 20px;
        line-height: 35px;
    }
    .foreign-lang-border{
        padding: 2rem 1rem;
    }
    .foreign-lang-content-para{
        margin: 1rem 0rem;
        padding: 0rem 0rem;
    }
    .european-lang-section, .asian-lang-section{
        flex-direction: column;
    }
    .european-lang-left-part, .asian-lang-left-part{
        text-align: center;
        font-weight: 900;
        margin: 0rem 0rem 1rem;
    }
    .european-lang-right-part, .asian-lang-right-part{
        text-align: center;
    }
    .lang-button{
        font-size: 15px;
        padding: 8px 16px 8px 16px;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

}

@media screen and (max-width: 488px){
    .foreign-lang h1{
        margin-top: 4rem;
        font-size: 20px;
        line-height: 35px;
    }
}

@media screen and (max-width: 430px){
    .foreign-lang h1{
        margin-top: 3rem;
        font-size: 20px;
        line-height: 35px;
    }
}

@media screen and (max-width: 370px){
    .foreign-lang h1{
        margin-top: 2rem;
        font-size: 20px;
        line-height: 35px;
    }

}



/* get started section */

.get-started{
	margin: 2% 0 10%;
	padding: 5% 0;
    height: 90vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    background-color: #EBFAFF;
}

.get-started .left-side{
    width: 40vw;
}

.get-started .left-side .heading h1{
    color: #2F327D;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 54px;
    background-color: #EBFAFF;
    text-align: center;
}

.get-started .left-side .info {
    margin-top: 15px;
}

.get-started .left-side .info ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.get-started .left-side .info ul li {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5;
    color: black;
    margin-bottom: 10px;/
}

.get-started .left-side ul .info-divider {
    display: inline-block;
    width: 60%;
    border-top: 1px dotted #2908e8;
    margin: 10px 0;
}


.get-started .left-side .register-button {
    margin-top: 10%;
    border-radius: 25px; 
    background-color: black;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    color: #fff; 
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    transition: background-color 0.3s;
    font-family: "Nunito Sans", Sans-serif;
  }
  
  .get-started .left-side .register-button:hover {
    background-color: #6cd1ff;
    color: black;
  }
  
.get-started .right-side {
    margin-top: 0;
    width: 35%;
    height: 10em;
}

.get-started .right-side img {
    width: 25vw;
    height: 35vh;
}


/* Media queries for responsiveness */

@media screen and (max-width: 2993px) {
    .get-started {
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .get-started .left-side .heading h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .get-started .left-side .info ul li {
        font-size: 1.2em;
    }

    .get-started .left-side .register-button {
        font-size: 1em; 
        padding: 15px;
    }

    .get-started .right-side {
        width: 50vh;
    }

}


@media screen and (max-width: 2550px) {
    .get-started {
        flex-direction: row;
        text-align: center;
        height: auto;
    }

    .get-started .left-side .heading h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .get-started .left-side .info ul li {
        font-size: 1.2em;
    }

    .get-started .left-side .register-button {
        font-size: 1em; 
        padding: 15px;
    }

    .get-started .right-side {
        /* margin-top: -25%; */
        width: 50vh;
    }
    .get-started .right-side img{
        width: 30vw;
        height: 35vh;
    }
}


@media screen and (max-width: 1200px) {

    .get-started .left-side .heading h1 {
        font-size: 2rem;
    }

    .get-started .left-side .info ul li {
        font-size: 1.2em;
    }

    .get-started .left-side .register-button {
        font-size: 1em; 
        padding: 15px;
    }

    .get-started .right-side {
        width: 50vh;
    }

    .get-started .right-side img{
        width: 35vw;
        height: 25vh;
    }

}

@media screen and (max-width: 1040px) {

    .get-started .left-side .heading h1 {
        font-size: 1.9rem;
    }

    .get-started .left-side .info ul li {
        font-size: 1rem;
    }

    .get-started .left-side .register-button {
        font-size: 1em; 
        padding: 15px;
    }

    .get-started .right-side img{
        width: 40vw;
        height: 25vh;
    }

}

@media screen and (max-width: 920px) {

    .get-started .left-side .heading h1 {
        font-size: 1.6rem;
    }

    .get-started .left-side .info ul li {
        font-size: 0.8rem;
    }

    .get-started .left-side .register-button {
        font-size: 1em; 
        padding: 15px;
    }

    .get-started .right-side img{
        width: 35vw;
        height: 20vh;
    }

}


@media screen and (max-width: 875px) {
    .get-started{
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .get-started .left-side .heading h1 {
        margin-top: 20%;
        font-size: 1.6rem;
    }

    .get-started .left-side{
        order: 2;
    }

    .get-started .right-side{
        margin-bottom: 10%;
        display: none;
        order: 1
    }

    .get-started .right-side img{
        width: 35vw;
        height: 22vh;
    }

}

@media screen and (max-width: 610px) {
    .get-started{
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .get-started .left-side .heading h1 {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }

    .get-started .left-side .info ul li {
        margin-top: 0;
        font-size: 0.8rem;
    }

    .get-started .left-side ul .info-divider {
        width: 50%;
    }

    .get-started .left-side{
        margin-top: -10%;
        width: 70vw;
        order: 2;
    }

    .get-started .right-side{

        order: 1;
    }

    .get-started .right-side img{
        width: 35vw;
        height: 18vh;
    }

    .get-started .left-side .register-button {
        margin-top: 10%;
        padding: 10px;
        font-size: 0.7rem;
      }

}


@media screen and (max-width: 515px) {
    .get-started .left-side .heading h1{
        margin-top: 10%;
        font-size: 1.2rem;
    }

    .get-started .left-side .info ul li {
        margin: -2%;
        font-size: 0.7rem;
    }

    .get-started .left-side ul .info-divider {
        width: 70%;
    }

    .get-started .left-side{
        width: 70vw;
    }

    .get-started .left-side .register-button {
        margin-top: 10%;
        padding: 10px;
        font-size: 0.6rem;
      }

    .get-started .right-side img{
        width: 35vw;
        height: 15vh;
    }



}




@media screen and (max-width: 450px) {
    .get-started .left-side .heading h1{
        margin-top: 10%;
        font-size: 1rem;
    }

    .get-started .left-side .info ul li {
        margin: -2%;
        font-size: 0.6rem;
    }

    .get-started .left-side ul .info-divider {
        width: 60%;
    }

    .get-started .left-side{
        width: 70vw;
    }

    .get-started .left-side .register-button {
        margin-top: 10%;
        padding: 10px;
        font-size: 0.5rem;
      }

    .get-started .right-side img{
        width: 35vw;
        height: 15vh;
    }



}





/* reviews section */


.review-heading{
	margin-top: 3%;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	color: #2F327D;
    font-family: "Poppins", Sans-serif;
    font-weight: bold;
	font-size: larger;
    line-height: 54px;
    margin: 0 0 40px;

}



.review-heading h1{

	color: #2F327D;
    font-family: "Poppins", Sans-serif;
    font-weight: 800;
    
	

}
 .swiper {
	width: 90%;
    height: 60%;
    margin-bottom: 20vh;
	/* margin-: 0; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    border-radius: 10px;
	cursor: pointer;
}

.profile-picture {
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    overflow: hidden;
    margin-bottom: 15px;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.name {
    font-weight: bold;
    margin-bottom: 10px;
}

.designation {
    color: #555;
    margin-bottom: 10px;
}

.reviews {
    text-align: justify;
    line-height: 1.5;
}


/* media queries */


@media screen and (max-width: 850px) {

    .review-heading h1{

        color: #2F327D;
        font-family: "Poppins", Sans-serif;
        font-weight: 800;
        font-size: 1.8rem;
        
    
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        margin: 0 0%;
    }
    .reviews{
        text-align: justify;
    }
}

@media screen and (max-width: 535px) {

    .review-heading h1{
        color: #2F327D;
        font-family: "Poppins", Sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
    }

    .reviews{
        text-align: justify;
    }
}

@media screen and (max-width: 455px) {
    .review-heading h1{
        color: #2F327D;
        font-family: "Poppins", Sans-serif;
        font-weight: 800;
        font-size: 1.3rem;
    }

    .reviews{
        text-align: justify;
    }
}

@media screen and (max-width: 380px) {
    .review-heading h1{
        color: #2F327D;
        font-family: "Poppins", Sans-serif;
        font-weight: 800;
        font-size: 1.1rem;
    }

    .reviews{
        text-align: justify;
    }
}



/* end of reviews section */






/* faq section */

.faq-heading{
	font-family: "Nunito Sans", Sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.body-faq{
    margin: 5% 10% 10%;
    display: flex;
    justify-content: space-evenly;

}

.layout {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.faq {
	padding: 10px 10px 2px;
	border-radius: 0.4em;
	border-bottom: 0.1px solid rgba(0, 0, 0, 0.5);
}

.question{
	display: flex;
	justify-content: space-between;
}

.question p {
	font-family: "Poppins", Sans-serif;
	font-size: 1.15em;
    font-weight: 700;
}

.answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.8s ease-in-out;
	margin-top: 2%;
}

.answer p {
	margin: 5px;
	font-size: 1em;
	border-radius: 10px;

    font-family: "Poppins", Sans-serif;
    font-weight: 540;
    /* line-height: 25.5px; */
}

.faq:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.faq.active .answer {
	max-height: 30vh;
}

.faq.active svg{
	transition: 0.5s ease;
	transform: rotate(180deg);
}


/* media queries */

@media screen and (max-width: 990px) {

    .body-faq{
        display: flex;
        justify-content: space-evenly;
    
    }

    .image-container img{
        height: 30vw;
    }

    .layout {
        width: 60vw;
        /* margin: auto;
        display: flex;
        flex-direction: column; */
    }
    .faq-heading{
        font-size: 2rem;
    }
}

@media screen and (max-width: 860px) {

    .body-faq{
        display: flex;
        justify-content: space-evenly;
    
    }

    .image-container img{
        height: 30vw;
    }

    .layout {
        width: 50vw;
        /* margin: auto;
        display: flex;
        flex-direction: column; */
    }

    .faq-heading{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 767px) {

    .body-faq{
        display: flex;
        justify-content: space-evenly;
    
    }

    .image-container img{
        height: 20vw;
    }

    .layout {
        width: 50vw;
        /* margin: auto;
        display: flex;
        flex-direction: column; */
    }
    .faq-heading{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 700px) {

    .body-faq{
        display: flex;
        justify-content: space-evenly;
    
    }

    .image-container{
        display: none;
    }

    .layout {
        width: 80vw;
        /* margin: auto;
        display: flex;
        flex-direction: column; */
    }
    .faq-heading{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 535px) {

    .faq-heading{
        font-size: 1.5rem;
    }
    .question p {
        font-size: 1.15em;
        font-weight: 700;
    }
    
    .answer p {
        font-size: 1em;
        font-weight: 540;
    }
}

@media screen and (max-width: 480px) {

    .faq-heading{
        font-size: 1.3rem;
    }
    .question p {
        font-size: 1.15em;
        font-weight: 700;
    }
    
    .answer p {
        font-size: 1em;
        font-weight: 540;
    }
}

@media screen and (max-width: 420px) {
    .faq-heading{
        font-size: 1.1rem;
    }
    .question p {
        font-size: 0.9rem;
        font-weight: 700;
    }
    
    .answer p {
        font-size: 0.75em;
        font-weight: 540;
    }
}

@media screen and (max-width: 372px) {
    .faq-heading{
        font-size: 0.9rem;
    }
    .question p {
        font-size: 0.8rem;
        font-weight: 700;
    }
    
    .answer p {
        font-size: 0.7em;
        font-weight: 540;
    }
}


/* faq section ends */
